*{
	margin: 0;
	padding: 0;
	list-style: none;
}
/*-------header-----------*/
.header {
	max-width: 100%;
	width: 100%;
	background: white;
	display: inline-block;
	border-bottom: 1px solid gray;
	position: fixed;
	top:0;
	z-index: 8;
}
.main {
	margin: 0 auto;
	margin-top: 55px;
	max-width: 1000px;
	width: 100%;
	display: block;
}
.header_main {
	margin-top: 5px;
}
/*-----logo-----*/
.header_main a {
	display: inline-block;
	width: 10%px;
/*	height: 100;*/
	float: left;
}
.header_main a span {
	font-size: 6px;
	display: block;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	margin-bottom: 5px;
}
img.logo {
	width: 94%;
	height: 29px;
	display: block;
}
	/*-------header 2----------*/
.header_main ul{
	width: 84%;
    height: 50px;
    float: left;
    display: block;
}
.header_main ul li{
	font-weight: bold;
	display: inline-block;
	margin: 0 15px;
	padding: 15px 0;
}
.header_main ul li:hover {
	color: red;
	border-bottom: 2px solid red;
}
.header_main ul li:first-child{
	margin-left: 60px;
} 
.header_main ul li:last-child{
	margin-right: 60px;
}
/*-----------header3---------*/
.header_main i {
	float: right;
	margin: 15px 1px;
	padding: 0 5px;
	display: inline-block;
	border-radius: 100px;
	background: yellow;
}

/*main*/

/*Main_left*/
.main_left {
	display: inline-block;
	float: left;
	width: 28%;
	background: white;
}
.main_left ul {
	display: inline-block;
	width: 100%;
}
.main_left ul li {
	display: inline-block;
	width: 100%;
	padding: 10px 0;
	border-bottom: 1px solid black;
}
.main_left ul li img {
	width: 43%;
	float: left;
	margin-right: 5px;
}
.main_left ul li p {
	display: block;
	overflow: hidden;
}
/*main_right*/
.main_right {
	width: 70%;
	display: inline-block;
	padding: 0;
	float: right;
	background: white;
}
/*main_r_l*/
.main_r_l {
	float: left;
	display: inline-block;
	width: 65%;
}
.main_r_l img {
	width: 100%;
	display: block;
	margin-bottom: 20px;
}
.main_r_l h1 {
	margin-bottom: 20px;
}
.main_r_l p {
	margin-bottom: 20px;
}
.main_r_l a {
	text-decoration: none;
	font-weight: bold;
	color: black;
}
/*main_r_r*/
.main_r_r {
	float: right;
	display: inline-block;
	width: 33%;
}
.main_r_r ul {
	width: 100%;
	display: inline-block;
	height: 100%;
}
.main_r_r ul li {
	display: block;
	width: 100%;
}
.main_r_r ul li img {
	width: 100%;
	margin-bottom: 5px;
}
.main_r_r ul li p {
	font-weight: bold;
	margin: 5px 0;
}

/*-------multimedia---------*/
div.multimedia {
	clear: both;
	margin: 0 auto;
	display: block;
	max-width: 1000px;
	width: calc(100% - 60px);
	padding: 30px;
	background: #ffde76;
}
ul.multimedia_title {
	display: inline-block;
	width: 100%;
}
ul.multimedia_title li {
	display: inline-block;
	margin-right: 20px;
}
ul.multimedia_title li:first-child {
	font-weight: bold;
	font-size: 30px;
}
ul.multimedia_news {
	width: 100%;	
	display: inline-block;
}
ul.multimedia_news {
	width: 100%;
	display: inline-block;
	margin-top: 10px;
}
ul.multimedia_news li {
	margin-left: 1.5%;
	width: 24%;
	float: left;
}
ul.multimedia_news li:first-child {
	margin-left: 0;
	width: 49%;
}
ul.multimedia_news li img {
	width: 100%;
}
/*---------------books------------*/
.books {
	margin: 20px auto;
	max-width: 1000px;
	width: 100%;
	display: block;
}
.books h3 {
	border-bottom: 1px solid gray;
	padding-top:10px;
}
.books ul {
	margin-top: 10px;
/*	lam cac the con hien thi tren cung 1 hang*/
	display: flex;

/*	chia deu cac the con ra, deu 2 ben*/
	justify-content: space-between;
}
.books ul li {
	width: 184px;
	border: 0.5px solid gray;
}
.books ul li img{
	width: 100%;
}
.books ul li p {
	padding: 10px 0;
}
/*---------news------*/
.news {
	max-width: 1000px;
	width: 100%;
	margin: 20px auto;
	display: block;
}
	/* news 1*/
.news1 {
	width: 68%;
	float: left;
}
.news1 ul {
	display:inline-block;
	width: 100%;
}
.news1 ul li {
	width: 100%;
	display:inline-block;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid gray;
}
/*width di kem inline-block*/
.news1 ul li img {
	width: 33%;
	float: left;
	margin-right: 10px;
}
.news1 div {
	display: block;
	overflow: hidden;
}
	/*news2*/
.news2 {
	float: right ;
	width: 30%;
}
.news2 img {
	width: 100% ;
	margin-top: 10px;
}
.news2_content {
	border: 0.5px solid gray;
	padding: 20px;
	margin-top: 20px;
}
.news2_content h3 {
	text-transform: uppercase;
	font-weight: bold;
}
.news2_content ul {
	margin-top: 10px;
}
.news2_content li {
	margin-bottom: 10px;
}
.news2_content img {
	width: 30%;
	float: left;
	display: inline-block;
	margin-right: 10px;
}
.news2_content div {
	display: block;
	overflow: hidden;
}
.news2_content p {
	font-size: 100%;
}
/*----------lifestyle---------*/
.lifestyle {
	display: block;
	margin: 0 auto;
	max-width: 1000px;
	width: 100%;
}
.lifestyle h3 {
	border-bottom: 0.5px solid gray;
	width: 100%	;
	display: inline-block;
	margin-bottom: 17px;
}
.lifestyle1 {
	width: 71%;
	float: left;
}
.lifestyle1 ul {
	display: inline-block;
	width: 100%;
}
.lifestyle1 ul li {
	display: inline-block;
	width: 33%;
	float: left;
}
.lifestyle1 img {
	width: 95%;
}
.lifestyle1 ul li:first-child {
	width: 65%;
	display: inline-block;
	margin-right: 10px;
}
.lifestyle1 ul li:first-child img {
	width: 100%;
}
.lifestyle2 {
	width: 27%;
	padding-left: 10px;
	float: right;
	border-left:  0.5px solid gray;
}
.lifestyle2 ul {
	width: 100%;
}
.lifestyle2 ul li {
	display: inline-block;
	width: 100%;
	margin-bottom: 40px;
}
.lifestyle2 h5 {
	display: block;
	overflow: hidden;
}
.lifestyle2 img {
	width: 28%;
	float: right;
}
/*------------xuatban------------*/
.xuatban {
	clear: both;
	margin: 0 auto;
	max-width: 1000px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	border-top: 2px solid black;
}
.xuatban1 {
	width: 24%;
	margin-top: 20px;
}
.xuatban1 img.xbimg {
	width: 100%;
}
.xuatban1 ul li {
	display: inline-block;
	width: 100%;
	margin-top: 10px;
}
.xuatban1 ul li img {
	width: 44%;
	float: left;
	margin-right: 10px;
}
/*----------magazine-----------*/
.magazine {
	margin-top: 20px;
	background: #eee;
	padding: 40px 0;
}
.magazine1 {
	max-width: 1120px;
	width: 1005;
	margin: 10px auto;
}
.magazine1 h3 {
	margin: 20px 0;
}
.magazine1 ul {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.magazine1 ul li {
	width: 24%;
	height: 435px;
	position: relative;
}
.magazine1 ul li img {
	width: 100%;
	height: 100%;
}
.magazine1 ul li h4 {
	position: absolute;
    top: 0;
    left: 40%;
    background: yellow;
    padding: 1px 5px;
    -webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.magazine1 ul li p {
	position: absolute;
	width: 96%;
	text-align: center;
	padding: 0 2%;
	bottom: 100px;
	color: #fff;
}
.magazine1 ul li p::before{
	content: "";
    border-top: 2px solid yellow;
    position: absolute;
    top: -5px;
    width: 30%;
    left: 33%;
}
.magazine1 i {
	position: absolute;
	top: 90%;
	left: 47%;
	color: white;
}
.magazine1 i:hover {
	background: yellow;
	border-radius: 100px;
	padding: 0 5px;
}
/*-----------video----------*/
.video {
	display: block;
	margin: 0 auto;
	max-width: 1000px;
	width: 100%;
/*	height: 393px;*/
}
.video h2 {
	margin-top: 20px;
	background: url(hinhanh/hinh1.jpg) no-repeat left;
	background-size: 10px;
	padding-left: 10px;
}
.video img.videoimg {
	margin-top: 10px;
	width: 70%;
	height: 393px;
	display: inline-block;
	float: left;
}
.video1 {
	background: lightgrey;
}
.video ul {
	width: 30%;
	height: 393px;
	display: block;
	margin: 10px;
	background: transparent;
	overflow-y: scroll;
}
.video ul li {
	display: inline-block;
	margin-bottom: 10px;
	padding: 0 5px;
}
.video ul li img {
	width: 120px;
	float: left;
}
.video ul li div {
	display: block;
	overflow: hidden;
	padding-left: 5px;
}
/*--------media----------*/
@media only screen and (max-width: 1100px) {
	.header_main {
		width: 100%;
		display: inline-block;
	}
	.header_main a {
		margin: 0 40% 0;
		width: 10% ;
	}
	.header_main ul {
		display: none;
	}
}

@media only screen and (max-width: 1023px) {
/*main*/
	.main_left {
		float: right;
		width: 39%;
	}
	.main_right {
		float: left;
		width: 59%;
	}
	.main_r_l {
		width: 100%;
	}
	.main_r_l p,a {
		display: none;
	}
	.main_r_r {
		width: 100%;
	}
	.main_r_r ul li {
		width: 48%;
		display: inline-block;
	}
	.main_r_r ul li:first-child {
		margin-right: 1%;
	}
/*multimedia*/
	ul.multimedia_title li {
		display: none;
	}
	ul.multimedia_title li:first-child {
		display: block;
	}
	ul.multimedia_news li {
		width: 49%;
		margin-left: 0;
	}
	ul.multimedia_news li:first-child {
		width: 100%;
		display: block;
	}
	ul.multimedia_news li:nth-child(2),
	ul.multimedia_news li:nth-child(4) {
		margin-right: 2%;
	}
/*news*/
	.news1 {
		width: 100%;
	}
	.news2 {
		display: none;
	}
/*xuatban*/
	.xuatban {
		display: block;
	}
	.xuatban1 {
		display: inline-block;
		width: 48%;
	}
	.xuatban1 img.xbimg {
		width: 44%;
		float: left;
		margin-right: 10px;
	}
/*video*/
	.video img.videoimg {
		width: 100%;
		margin-top: 0;
	}
	.video ul {
		margin-left: 0;
	}
	.video1 ul {
		overflow-y: unset;
		display: inline-block;
		width: 100%;
		height: auto;
	}
	.video1 ul li{
		display: none;
	}
	.video1 ul li:nth-child(1),
	.video1 ul li:nth-child(2),
	.video1 ul li:nth-child(3),
	.video1 ul li:nth-child(4) {
		display: inline-block;
		width: 23%;
	}
	.video1 ul li img {
		width: 100%;
	}

}
@media only screen and (max-width: 1000px) {
/*books*/
	.books ul li:nth-child(4),
	.books ul li:nth-child(5) {
		display: none;
	}
	.books ul li {
		width: 33%;
	}
/*lifestyle*/
	.lifestyle1 {
		display: block;
		width: 100%;
	}
	.lifestyle1 img {
		width: 100%;
	}
	.lifestyle2 {
		display: block;
		width: 100%;
	}
	.lifestyle2 ul {
		display: inline-block;
	}
	.lifestyle2 ul li {
		vertical-align: top;
		width: 48%;
	}
	.lifestyle2 ul li:last-child {
		display: none;
	}
}
@media only screen and (max-width: 800px) {
/*lifestyle*/
	.lifestyle1 ul li:first-child {
		display: inline-block;
		width: 100%;
	}
	.lifestyle1 ul li {
		width: 49%;
	}
	.lifestyle1 ul li:nth-child(2) {
		margin-right: 2% ;
	}
/*magazine*/
	.magazine1 ul li{
		display: inline-block;
	}
	.magazine1 ul li:last-child {
		display: none;
	}
	.magazine1 ul li {
		width: 33%;
	}
}
@media only screen and (max-width: 700px) {
/*header*/
	.header_main span {
		white-space: nowrap;
	}
	i:last-child {
		display: none;
	}
	.header_main img {
		margin: 0 37%;
		width: 100%;
	}
/*main*/
	.main_right {
		width: 100%;
		display: block;
	}
	.main_left {
		width: 100%;
	}
/*xuatban*/
	.lifestyle {
		width: 100%;
		display: inline-block;
	}
	.lifestyle1 {
		width: 100%;
		display: block;
	}
/*magazine*/
	.magazine1 ul li{
		display: inline-block;
	}
	.magazine1 ul li:last-child,
	.magazine1 ul li:nth-child(3) {
		display: none;
	}
	.magazine1 ul li {
		width: 48%;
	}
}
/*video*/
	.video {
		display: none;
	}
@media only screen and (max-width: 700px) {
	ul.multimedia_news li {
		width: 100%;
	}
	ul.multimedia_news li img {
		float: left;
		width: 150px;
		margin-right: 20px;
	}
	ul.multimedia_news li:first-child img {
		width: 100%;
	}
	.books ul li:nth-child(3) {
		display: none;
	}
	.books ul li {
		width: 49%;
	}
}
@media only screen and (max-width: 500px) {
	.books ul li:nth-child(2) {
		display: none;
	}
	.books ul li {
		width: 100%;
	}
/*magazine*/
	.magazine1 ul li{
		display: none;
	}
	.magazine1 ul li:first-child {
		display: block;
		width: 100%;
	}
}


